@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.bg{
    background: url(../img/money.jpg);
    height: 100vh;
} 
.navbar-brand{
    font-family: "Roboto Condensed";
}
#al{
    background-color: rgb(33, 32, 32);
    border-radius: 0;
    font-family: "Roboto Condensed";
    font-size: 20px;
    margin-top: 467px;
#txt1{
    color: beige;
}
#cont{
    color:white;
    font-size: 25px;
}}

#par{
    font-family: "Roboto Condensed";
    color: black;
    font-size: 40px;
    margin-left: 455px;
    margin-right: 455px;
}
#input{
    width: 500px;
    height: 40px;
    margin-left: 500px;
    margin-right: 5000px;
    border-radius: 0;
    font-family: "Roboto Condensed";
}
#buttons{
    margin-left: 500px;
    font-family:"Roboto Condensed" ;
#button{
    width: 155px;
    height: 50px;
}
}