@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/* but
/* .glow-on-hover {
    width: 100px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
} */
*{
    margin: 0;
    padding: 0;
}
.bg{
    background: url(../img/money.jpg);
    height: 100vh;
} 

/* font */
.navbar-brand{
    font-family: "Roboto Condensed";
}
.par{
    font-family: "Roboto Condensed";
    color: black;
    font-size: 80px;
    margin-left: 175px;
    margin-right: 175px;
}
.returh{
    color: azure;
}
/**/

#ret{
    margin-bottom: 0px;
}

.box{
    /* display: flex; */
    /* justify-content: space-between; */
    height: 200px; 
    background-color: black;
    margin-top: 430px;
    border-radius: 0% 100% 0% 100% / 100% 100% 60% 0% ;
    box-shadow: -20px -20px 5px;
    /* filter: blur(5px); */
    font-family: "Roboto Condensed";
    font-size: 30px;
}

#butt{
    width: 100px;
    height: 50px;
    font-family:  "Roboto Condensed";
    size: 25px;
}

#al{
    background-color: rgb(33, 32, 32);
    border-radius: 0;
    font-family: "Roboto Condensed";
    font-size: 20px;
#txt1{
    color: beige;
}
#cont{
    color:white;
    font-size: 25px;
}}



